<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title></title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>

<body>
  <h1>Add a new Wolf</h1>
  <form action="/wolves" method="post">
    <label for="name">Name:</label>
    <input type="text" name="name">
    <br>
    <label for="color">Color:</label>
    <input type="text" name="color">
    <br>
    <label for="size">Size:</label>
    <input type="text" name="size">
    <br>
    <input type="submit" value="Add">
  </form>
</body>
</html>
